<!DOCTYPE html>
<style>
 .loading-overlay {
    display: none;
    background: rgba( 26, 26, 26, 0.7 );
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
}

.loading-overlay-image-container {
    display: none;
    position: fixed;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.loading-overlay-img {
    width: 850px;
    /* height: 250px; */
    border-radius: 5px;
}
#header{
   background:lightblue;
   height:30px;
   width:100%;
   font-size:22px;
   padding:30px 0 30px 0;
   margin-top:20px;
   text-align:center;
}
#loading{
   padding: 20px;
}
#message{
   padding: 20px;
}
body{
   paddong: 50px;
   margin:0;
   font-size:16px;
}
</style>
<html>
<head>
  <title><%= title %></title>
</head>

<body>

  <div id='header'>Selected Pangenome: "<%= pg %>"</div>
  
  <div id='loading'></div>

  <div id='message'>Info</div>

</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>

console.log('start here JS')
var loader_delay = 10000;
var loader = {
    
    initialize : function () {
        console.log('init')
        var html =
            '<div class="loading-overlay"></div>' +
            '<div class="loading-overlay-image-container">' +
                '<img src="/assets/loading3.gif" class="loading-overlay-img"/>' +
            '</div>';

        // append our html to the DOM body
        $( 'body' ).append( html );
    },

    showLoader : function () {
        jQuery( '.loading-overlay' ).show();
        jQuery( '.loading-overlay-image-container' ).show();
    },

    hideLoader : function () {
        jQuery( '.loading-overlay' ).hide();
        jQuery( '.loading-overlay-image-container' ).hide();
    }
}
function delay (URL) {
    setTimeout( function() { 
        window.open(URL,'_self') 
        loader.hideLoader();
    }, loader_delay );
}
function isInt(value) {
  return !isNaN(value) && 
         parseInt(Number(value)) == value && 
         !isNaN(parseInt(value, 10));
}

port = '<%= port %>'
url = '<%= url %>'
if(port != 0){
   console.log('NOPORT',port)
}else{
  console.log(' GoodPORT',port)
}
if(port != 0){
  //$( function() { // do things when the document is ready
    // initialize our loader overlay
    console.log('onload')
    document.getElementById('loading').innerHTML = 'Loading...' +url
    loader.initialize();
    loader.showLoader();
  //});
  if(isInt(port)){
     text = 'Anvio` should open in a new tab, but if not follow this link:'
     document.getElementById('message').innerHTML = text+" <a href='"+url+"' target='_blank'>"+url+"</a>"
     delay(url)
  }else{
    loader.hideLoader();
    text = "Anvio` port error: "+port.toString()
    document.getElementById('message').innerHTML = 'Failed: '+text
  }
}else{
    loader.hideLoader();
    text = "All Anvio` ports are in use. Try again later."
    document.getElementById('message').innerHTML = 'Failed: '+text
}
//window.open(url)


</script>
