<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<html lang="en">
<head>
<title><%= title %></title>
<style>
 .LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 105%;
    background-color: rgba( 26, 26, 26, 0.5 );
    vertical-align:bottom;
    padding-top: 20%; 
    filter: alpha(opacity=75); 
    opacity: 0.75; 
    font-size:large;
    color:blue;
    font-style:italic;
    font-weight:400;
    background-image: url("/assets/loading3.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
</style>
</head>

<body>
  <div id="coverScreen"  class="LockOn"></div>
  <div id='message'>Loading to port <%= port %></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>



<script>
//document.getElementById('mymessage').innerHTML = 'mystart'
function isInt(value) {
    return !isNaN(value) && 
         parseInt(Number(value)) == value && 
         !isNaN(parseInt(value, 10));
}

$("#coverScreen").show();

port = '<%= port %>'
url = '<%= url %>'

if(!port || port == '0'){
    text = "All Anvio` ports are in use. Try again later."
    document.getElementById('message').innerHTML = text
}else{    
    if(isInt(port)){ 
        args = {}
        args.port = port
        console.log('onload',port)
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", 'wait_on_anvio', true);
        xmlhttp.setRequestHeader("Content-type","application/json");
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 ) {
              var response = xmlhttp.responseText;
              console.log('response',response)
              //document.getElementById('mymessage').innerHTML = 'resp '+response
              if(response === 'isFile'){   // integer 1
                $("#coverScreen").hide();
                //window.open(url,'_self') 
                window.open(url,'_blank') 
                document.getElementById('message').innerHTML = "Open: <a href='"+url+"'>"+url+"</a>"
              }else{
                  text = "Anvio` port error: "+port
                  document.getElementById('message').innerHTML = response+'\nFailed: '+text
              }
            }
        };
        xmlhttp.send(JSON.stringify(args));
    }else{
        text = "Anvio` port error: "+port
        document.getElementById('message').innerHTML = text
    }
} 

</script>
